// main style

.svg-icon {
    padding-right: 0;
}
.site-header {
    padding-bottom: 1rem;
}
.video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
.video-card{
  background: #eee;
  padding: .5rem;
  margin-bottom: 1rem;
}
#st-1 {
    text-align: left !important;
}
