<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm"><h2 class="footer-heading">{{ site.title | escape }}</h2><div>Milton, Delaware USA</div></div>
      <div class="col-sm">{%- include social.html -%}</div>
      <div class="col-sm"><blockquote>{{- site.description | escape -}} - Dan Gibson</blockquote></div>
    </div>



  </div>

</footer>
