<header class="site-header" role="banner">
  <div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
          {%- assign default_paths = site.pages | map: "path" -%}
          {%- assign page_paths = site.header_pages | default: default_paths -%}
          <h1>{{ site.title | escape }}</h1>
        </div>
        <div class="col-sm-12">
          {%- if page_paths -%}
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="/">Home</a>
                </li>
                {%- for path in page_paths -%}
                  {%- assign my_page = site.pages | where: "path", path | first -%}
                  {%- if my_page.title -%}
                  <li class="nav-item">
                    <a class="nav-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
                  </li>
                  {%- endif -%}
                {%- endfor -%}
              </ul>
            </div>
          </nav>
          {%- endif -%}
        </div>
      </div>
  </div>
</header>
