/* line 3, ../sass/style.scss */
.svg-icon {
  padding-right: 0;
}

/* line 6, ../sass/style.scss */
.site-header {
  padding-bottom: 1rem;
}

/* line 9, ../sass/style.scss */
.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

/* line 15, ../sass/style.scss */
.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

/* line 22, ../sass/style.scss */
.video-card {
  background: #eee;
  padding: .5rem;
  margin-bottom: 1rem;
}

/* line 27, ../sass/style.scss */
#st-1 {
  text-align: left !important;
}
