<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v7.0&appId=234915939870718&autoLogAppEvents=1" nonce="5JmtwehU"></script>    

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="container-fluid">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
