---
layout: default
---
<div id="carouselExampleSlidesOnly" class="carousel slide mb-3" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
        <img src="https://source.unsplash.com/rSFxBGpnluw/2000x350" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://source.unsplash.com/7gRm09bpK9k/2000x350" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://source.unsplash.com/duNHkmSkW6M/2000x350" class="d-block w-100" alt="...">
    </div>
  </div>
</div>


<!-- <div id="feedList"></div>


<h2>Posts</h2>
<script>
      jQuery(function($) {
        // docs found here: https://github.com/sdepold/jquery-rss
        var url = 'https://dan-drone.blogspot.com/feeds/posts/default';

        $("#rss-feeds").rss(
          // You can either provide a single feed URL or a list of URLs (via an array)
          "https://dan-drone.blogspot.com/feeds/posts/default",
          {
            // how many entries do you want?
            // default: 4
            // valid values: any integer
            // limit: 50,
            // ssl: true,
            //
            // // outer template for the html transformation
            // // default: "<ul>{entries}</ul>"
            // // valid values: any string
            // // layoutTemplate: "<div class='feed-container'>{entries}</div>",
            layoutTemplate: '<div class="entries">{entries}</div>',
            //
            // // inner template for each entry
            // // default: '<li><a href="{url}">[{author}@{date}] {title}</a><br/>{shortBodyPlain}</li>'
            // // valid values: any string
            // // entryTemplate: "<h3>{title}</h3><div>{bodyPlain}</div>",
            entryTemplate: '<div class="mb-3"><h4 class="mb-0"><a href="{url}">{title}</a></h4><div>{shortBodyPlain}</div></div>',

            // additional token definition for in-template-usage
            // default: {}
            // valid values: any object/hash
            // tokens: {
            //   foo: "bar",
            //   bar: function(entry, tokens) {
            //     return entry.title;
            //   }
            // },

            // formats the date with moment.js (optional)
            // default: 'dddd MMM Do'
            // // valid values: see http://momentjs.com/docs/#/displaying/
            // dateFormat: "MMMM Do, YYYY",
            //
            // // localizes the date with moment.js (optional)
            // // default: 'en'
            // dateLocale: "de",
            //
            // // Defines the format which is used for the feed.
            // // Default: null (utf8)
            // // valid values: https://github.com/ashtuchkin/iconv-lite/wiki/Supported-Encodings
            // encoding: "ISO-8859-1",
            //
            // // Defined the order of the feed's entries.
            // // Default: undefined (keeps the order of the original feed)
            // // valid values: All entry properties; title, link, content, contentSnippet, publishedDate, categories, author, thumbnail
            // // Order can be reversed by prefixing a dash (-)
            // order: "-publishedDate",
            //
            // // formats the date in whatever manner you choose. (optional)
            // // this function should return your formatted date.
            // // this is useful if you want to format dates without moment.js.
            // // if you don't use moment.js and don't define a dateFormatFunction, the dates will
            // // not be formatted; they will appear exactly as the RSS feed gives them to you.
            // dateFormatFunction: function(date) {},
            //
            // // a callback, which gets triggered when an error occurs
            // // default: function() { throw new Error("jQuery RSS: url don't link to RSS-Feed") }
            // error: function() {},
            //
            // // a callback, which gets triggered when everything was loaded successfully
            // // this is an alternative to the next parameter (callback function)
            // // default: function(){}
            // success: function() {},
            //
            // // a callback, which gets triggered once data was received but before the rendering.
            // // this can be useful when you need to remove a spinner or something similar
            // onData: function() {}
          },

          // callback function
          // called after feeds are successfully loaded and after animations are done
          function callback() {}
        );
      });
</script>

<div id="rss-feeds"></div> -->

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

</div>
